.canvas{
    position: absolute;
    left:200px;
    top: 120px;
    height : 750px;
    width: 1350px;
    border: solid antiquewhite 5px;
    border-radius: 18px;
    transition: all 0.15s linear;
}

.canvas-inner{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.canvas-inner { background: rgba(7,14,25,0.18); border-radius: 12px; padding: 22px }


.canvas.dashboard{
    border: solid #32847E 5px;
    background: linear-gradient(to bottom, rgba(22, 60, 57, 0.37) 19%, rgba(4, 27, 31, 0.37) 100%);
}


.canvas.game{
    border: solid #0fd4aa 5px;
    background: linear-gradient(to bottom, rgba(22, 60, 57, 0.37) 19%, rgba(4, 27, 31, 0.37) 100%);
}

.canvas.slipups{
    border: solid #943A3A 5px;
    background: linear-gradient(to bottom, rgba(60, 22, 28, 0.37) 19%, rgba(4, 27, 31, 0.37) 100%);
}

.canvas.quiz{
    border: solid #947343 5px;
    background: linear-gradient(to bottom, rgba(109, 53, 6, 0.32) 19%, rgba(4, 27, 31, 0.32) 100%);
}
